# ==================================================
# !!!NEVER ADD THIS FILE WITH REAL SECRETS TO GIT!!!
# ==================================================
export ROOT_DIR=$(pwd)

# Hugging Face Token
export HF_TOKEN=<token>

# NEVER ADD THIS FILE WITH REAL SECRETS TO GIT
export INFERENCE_PROVIDER_API_KEY=<key>
export OTHER=...

# Other...
