name: Create Release
on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: simple
          path: ./src

  # TO-DO: Create package?
      # Publish
      # - uses: actions/checkout@v4
      #   # these if statements ensure that a publication only occurs when
      #   # a new release is created:
      #   if: ${{ steps.release.outputs.release_created }}
      # - name: Install uv and set the python version
      #   uses: astral-sh/setup-uv@v5
      #   with:
      #     python-version: ${{ matrix.python-version }}
      #     enable-cache: true
      #     cache-dependency-glob: "uv.lock"

      # - name: Install the project
      #   run: uv sync --locked --all-extras
      #   if: ${{ steps.release.outputs.release_created }}
      # - run: uv build
      #   if: ${{ steps.release.outputs.release_created }}
      # - run: uv publish
      #   env:
      #     UV_PUBLISH_TOKEN: ${{secrets.UV_PUBLISH_TOKEN}}
      #   if: ${{ steps.release.outputs.release_created }}
